body {
  font-family: 'Varela', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
}

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: white;
}

#header {
    position :fixed;
    left: 8px; top: 8px; right: 8px;
    height: 40px;    
    
    -webkit-box-shadow: 2px 5px 15px #555;
    border-radius: 5px;
    line-height: 20px;
    
    background-color: white;
    color: black;    
    padding: 10px;
}
#viewportContent {
    background-color: #ffcf12;
    position: fixed;
    left: 8px; top: 79px; bottom: 26px;
    width: 76%;
    
    -webkit-box-shadow: 2px 5px 15px #555;
    line-height: 18px;
}
#content {
    background-color: #BF0603;/*#d32000;*/
    position: fixed;
    right: 8px; top: 79px; bottom: 26px;    
    width: 21%;
}
#footer {
    background-color: white;
    
    position: fixed;    
    bottom: 2px; right: 9px; left: 9px;        
    
    -webkit-box-shadow: 2px 5px 15px #555;
    border-radius: 3px;
    font-size: 12px;
}
#site_tittle {
    font-weight: bold;    
}
#action_description
{
    text-shadow: 1px 1px 5px black;
}